@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1137.ani), url(https://cur.cursors-4u.net/anime/ani-12/ani1137.gif), auto !important;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../images/110576.jpg') no-repeat center center;
    background-size: cover;
}

/* 모바일 (768px 이하) */
@media (max-width: 768px) {
    body {
        background: url('../images/101016.jpg') no-repeat center center;
        background-size: cover;
    }
}

/* font */
@font-face {
  font-family: 'miku';
  src:
    url('../fonts/VOC-RE.woff2') format('woff2'),
    url('../fonts/VOC-RE.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button {
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.wrapper {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

    .wrapper .icon {
        font-size: 17px;
        color: #31344b;
        position: absolute;
        cursor: pointer;
        opacity: 0.7;
        top: 15px;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        font-size: 16px;
    }

        .wrapper .icon i {
            position: relative;
            z-index: 9;
        }

        .wrapper .icon.arrow {
            left: 15px;
        }

        .wrapper .icon.dots {
            right: 15px;
        }

    .wrapper .img-area {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

.img-area .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper .yedam {
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0;
}

.wrapper .about {
    color: #44476a;
    font-weight: 400;
    font-size: 16px;
}

.wrapper .social-icons {
    margin: 15px 0 25px 0;
}

.social-icons a {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}

.wrapper .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}

    .buttons button:first-child {
        margin-right: 10px;
    }

    .buttons button:last-child {
        margin-left: 10px;
    }

.wrapper .social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}

.social-share .row {
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

    .social-share .row::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 2px;
        background: #e0e6eb;
        margin-left: -25px;
    }

.row:first-child::before {
    background: none;
}

.social-share .row i.icon-2 {
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
    opacity: 1;
    pointer-events: auto;
}